body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
}
/* First section */

#one {
    display: flex;
    flex-direction: column;
    background-color: #9c70e3;
    padding-left: 64px;
    padding-right: 64px;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}

li {
    list-style-type: none;
}

.welcome {
    display: flex;
    padding: 80px 16px;
    gap: 20px;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
}

.buttonOne {
    width: 110px;
    background-color: #f638e3;
    border-radius: 7px;
    color: #f9faf8;
    border: solid;
    border-width: 2px;
    border-color: #f9faf8;
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.links {
    display: flex;
    gap: 14px;
}

.headerTwo {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.text {
    font-size: 18px;
    color: #E5E7Eb
}

.mainImage {
    height: 300px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
}

/* Second section */

#two {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 80px;
    padding-left: 64px;
    padding-right: 64px;
}

.headerThree {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 42px;
}

.cardText {
    font-size: 18px;
    color: rgb(87, 85, 85);
    text-align: center;
    padding-top: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 20px;
}

.cardContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image {
    border-color: #f638e3;
    border-style: solid;
    border-radius: 15px;
    border-width: 8px;
    height: 150px;
    width: 150px;
}

/* Third section */

#three {
    display: flex;
    flex-direction: column;
    padding: 80px 200px;
    background-color: #E5E7Eb;
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    color: #595c5f;
    margin-bottom: 0px;
}

.quoteSpeaker {
    color: #595c5f;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    padding-right: 40px;
    padding-top: 0px;
}

/* Fourth section */

#four {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.headerFour {
    color: white;
    font-size: 26px;
    font-weight: bolder;
}

.callText {
    color: #E5E7Eb;
    font-size: 20px;
}

.blue {
    background-color: #6138f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 90px;
    border-radius: 10px;
    margin: 80px 36px;
}

.buttonTwo {
    background-color: #6138f6;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
    width: 110px;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
}

/* Footer */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #84878c;
    color: #E5E7Eb;
    padding-top: 16px;
    padding-bottom: 16px;
}











